In [21]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]= (20,10)
import random

In [22]:
df1= pd.read_csv(".\\dataset\\air_data_clean_2.csv")
df1.head()

   air_temp  humidity  surface_temperatures
0      23.9       NaN                   NaN
1      27.3       NaN                   NaN
2      28.3       NaN                   NaN
3      25.8       NaN                   NaN
4      23.2       NaN                   NaN

In [23]:
df1.shape

(45994, 3)

In [24]:
df1.isnull().sum()

air_temp                  292
humidity                 1841
surface_temperatures    43514
dtype: int64

In [25]:
# Define a function to fill missing surface temperatures with random values between 5 and 45
def fill_missing_surface_temp(row):
    if pd.isnull(row['surface_temperatures']):
        return round(random.uniform(5, 45), 1)
    else:
        return row['surface_temperatures']

In [26]:
# Apply the function to the surface_temperatures column
df1['surface_temperatures'] = df1.apply(fill_missing_surface_temp, axis=1)

In [27]:
df1.shape

(45994, 3)

In [28]:
df1.head()

   air_temp  humidity  surface_temperatures
0      23.9       NaN                  11.4
1      27.3       NaN                  33.7
2      28.3       NaN                  38.7
3      25.8       NaN                  11.8
4      23.2       NaN                  30.0

In [29]:
# Define a function to fill missing humidity with random values between 20 and 90
def fill_missing_humidity(row):
    if pd.isnull(row['humidity']):
        return round(random.uniform(20, 90), 1)
    else:
        return row['humidity']

In [30]:
# Apply the function to the humidity column
df1['humidity'] = df1.apply(fill_missing_humidity, axis=1)

In [31]:
df1.head()

   air_temp  humidity  surface_temperatures
0      23.9      36.5                  11.4
1      27.3      77.6                  33.7
2      28.3      59.0                  38.7
3      25.8      61.1                  11.8
4      23.2      73.4                  30.0

In [32]:
# Define a function to fill missing air_temp with random values between 0 and 45
def fill_missing_air_temp(row):
    if pd.isnull(row['air_temp']):
        return round(random.uniform(0, 45), 1)
    else:
        return row['air_temp']

In [33]:
# Apply the function to the air_temp column
df1['air_temp'] = df1.apply(fill_missing_air_temp, axis=1)

In [34]:
df1.head()

   air_temp  humidity  surface_temperatures
0      23.9      36.5                  11.4
1      27.3      77.6                  33.7
2      28.3      59.0                  38.7
3      25.8      61.1                  11.8
4      23.2      73.4                  30.0

In [35]:
df1.isnull().sum()

air_temp                0
humidity                0
surface_temperatures    0
dtype: int64