In [17]:
import pandas as pd
import numpy as np

import random

In [5]:
df = pd.read_csv('.\\dataset\\airnewdata.csv')

# Display the first few rows to check the data
print(df.head())

                                     organization_id  \
0  The GLOBE ID assigned to the school or organiz...
1                                             239525
2                                              69872
3                                              69872
4                                              69872

                                            org_name  \
0  The name of the reporting school or other inst...
1                                   A. De  Shalit  B
2                                               Afek
3                                               Afek
4                                               Afek

                             site_id  \
0  The GLOBE ID assigned to the site
1                               6744
2                               6639
3                               6639
4                               6639

                                           site_name  \
0  The name assigned to the site where the data w...
1                                 Garden Yard:ATM-02
2                             School Location:ATM-01
3                             School Location:ATM-01
4                             School Location:ATM-01

                                            latitude  \
0  The latitude of the site where data were obser...
1                                              31.64
2                                              32.05
3                                              32.05
4                                              32.05

                                           longitude  \
0  The longitude of the site where date were obse...
1                                              34.52
2                                              34.95
3                                              34.95
4                                              34.95

                                           elevation  \
0  The elevation of the site where data were obse...
1                                              576.0
2                                               50.0
3                                               50.0
4                                               50.0

                                         measured_on   aerosols:userid  \
0  The date only of when the data were observed i...               NaN
1                                         2012-09-01         2972518.0
2                                         2015-03-03         3313705.0
3                                         2015-03-08         3313705.0
4                                         2015-03-09         3313705.0

  aerosols:measured at  ... aerosols:aot misc aerosols:aot 505 calculated  \
0                  NaN  ...               NaN                         NaN
1  2012-09-01T10:56:00  ...               NaN                         NaN
2  2015-03-03T12:00:00  ...               NaN                         NaN
3  2015-03-08T10:00:00  ...               NaN                         NaN
4  2015-03-09T10:00:00  ...               NaN                         NaN

  aerosols:aot 505 all aerosols:transmission percent at 505nm  \
0                  NaN                                    NaN
1               0.1786                                 -999.0
2               1.2870                                 -999.0
3               0.8590                                 -999.0
4               0.8785                                 -999.0

  aerosols:transmission percent at 625nm  \
0                                    NaN
1                                   91.6
2                                   27.7
3                                   51.3
4                                   47.7

  aerosols:transmission percent at 465nm  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

  aerosols:transmission percent at 540nm  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

  aerosols:transmission percent at 619nm  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

                       aerosols:comments aerosols:globe teams
0  Comments on the aerosols measurement                   NaN
1                                    NaN                  NaN
2                                    NaN                  NaN
3                                    NaN                  NaN
4                                    NaN                  NaN

[5 rows x 36 columns]

C:\Users\DIU\AppData\Local\Temp\ipykernel_10448\1105319934.py:1: DtypeWarning: Columns (0,2,4,5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('.\\dataset\\airnewdata.csv')

In [6]:
print(df.columns)

Index(['organization_id', ' org_name', ' site_id', ' site_name', ' latitude',
       ' longitude', ' elevation', ' measured_on', ' aerosols:userid',
       'aerosols:measured at', 'aerosols:measured at date',
       'aerosols:measured at time', 'aerosols:solar measured at',
       'aerosols:solar noon at', 'aerosols:observed sky color',
       'aerosols:observed sky clarity', 'aerosols:associated remote sensor',
       'aerosols:remote sensor overflight time',
       'aerosols:remote sensor maximum elevation angle (deg)',
       'aerosols:aerosol photometer type',
       'aerosols:aerosol photometer serial number',
       'aerosols:aot 505 measured', 'aerosols:aot 625', 'aerosols:aot 465',
       'aerosols:aot 540', 'aerosols:aot 619', 'aerosols:aot misc',
       'aerosols:aot 505 calculated', 'aerosols:aot 505 all',
       'aerosols:transmission percent at 505nm',
       'aerosols:transmission percent at 625nm',
       'aerosols:transmission percent at 465nm',
       'aerosols:transmission percent at 540nm',
       'aerosols:transmission percent at 619nm', 'aerosols:comments',
       'aerosols:globe teams'],
      dtype='object')

In [7]:
df1=df.drop(['organization_id', ' org_name', ' site_id', ' site_name', ' latitude',
       ' longitude', ' elevation', ' measured_on', ' aerosols:userid',
       'aerosols:measured at', 'aerosols:measured at date',
       'aerosols:measured at time', 'aerosols:solar measured at',
       'aerosols:solar noon at', 'aerosols:observed sky color',
       'aerosols:observed sky clarity', 'aerosols:associated remote sensor',
       'aerosols:remote sensor overflight time',
       'aerosols:remote sensor maximum elevation angle (deg)',
       'aerosols:aerosol photometer type',
       'aerosols:aerosol photometer serial number', 'aerosols:aot misc',
       'aerosols:aot 505 calculated', 'aerosols:aot 505 all',
       'aerosols:transmission percent at 505nm',
       'aerosols:transmission percent at 625nm',
       'aerosols:transmission percent at 465nm',
       'aerosols:transmission percent at 540nm',
       'aerosols:transmission percent at 619nm', 'aerosols:comments',
       'aerosols:globe teams'],axis='columns')
df1.head()

,aerosols:aot 505 measured,aerosols:aot 625,aerosols:aot 465,aerosols:aot 540,aerosols:aot 619
0,NaN,NaN,NaN,NaN,NaN
1,0.1786,0.0875,NaN,NaN,NaN
2,1.2870,1.2855,NaN,NaN,NaN
3,0.8590,0.6677,NaN,NaN,NaN
4,0.8785,0.7394,NaN,NaN,NaN

In [8]:
print(df1.columns)

Index(['aerosols:aot 505 measured', 'aerosols:aot 625', 'aerosols:aot 465',
       'aerosols:aot 540', 'aerosols:aot 619'],
      dtype='object')

In [9]:
df1=df1.drop(['aerosols:aot 505 measured', 'aerosols:aot 465',
       'aerosols:aot 540', 'aerosols:aot 619'],axis='columns')
df1.head()

   aerosols:aot 625
0               NaN
1            0.0875
2            1.2855
3            0.6677
4            0.7394

In [10]:
df1= pd.read_csv(".\\dataset\\air_data_add_2.csv")
df1.head()

   air_temp  aerosols
0      23.9    0.0875
1      27.3    1.2855
2      28.3    0.6677
3      25.8    0.7394
4      23.2    0.6923

In [11]:
df1.shape

(45994, 2)

In [12]:
df1.isnull().sum()

air_temp        0
aerosols    37938
dtype: int64

In [13]:
# Define a function to fill missing aerosols with random values between -999 and 3.6553

def fill_missing_aerosols(row):
    if pd.isnull(row['aerosols']):
        return (random.uniform(0, 3.6553))
    else:
        return row['aerosols']

In [14]:
# Apply the function to the aerosols column
df1['aerosols'] = df1.apply(fill_missing_aerosols, axis=1)

In [15]:
df1.head()

   air_temp  aerosols
0      23.9    0.0875
1      27.3    1.2855
2      28.3    0.6677
3      25.8    0.7394
4      23.2    0.6923

In [16]:
df1.isnull().sum()

air_temp    0
aerosols    0
dtype: int64

In [18]:
df2= pd.read_csv(".\\dataset\\cleaned_output_data_3.csv")
df2.head()

   air_temp  aerosols                        Land_Type
0      27.3    1.2855  Heat-Adapted Coastal Ecosystems
1      28.3    0.6677  Heat-Adapted Coastal Ecosystems
2      25.8    0.7394  Heat-Adapted Coastal Ecosystems
3      28.3    0.5672  Heat-Adapted Coastal Ecosystems
4      25.8    0.5149  Heat-Adapted Coastal Ecosystems

In [20]:
df2.shape

(18721, 3)