In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import pickle
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]= (20,10)
import random

In [7]:
df = pd.read_csv('.\\datasets\\hydronewdata.csv')

# Display the first few rows to check the data
print(df.head())

                                     organization_id  \
0  The GLOBE ID assigned to the school or organiz...
1                                           53170157
2                                           53170157
3                                           53170157
4                                           53170157

                                            org_name  \
0  The name of the reporting school or other inst...
1                10 Secondary Girls school At altaif
2                10 Secondary Girls school At altaif
3                10 Secondary Girls school At altaif
4                10 Secondary Girls school At altaif

                             site_id  \
0  The GLOBE ID assigned to the site
1                             260562
2                             260562
3                             260562
4                             260562

                                           site_name  \
0  The name assigned to the site where the data w...
1                                           10School
2                                           10School
3                                           10School
4                                           10School

                                            latitude  \
0  The latitude of the site where data were obser...
1                                          21.301503
2                                          21.301503
3                                          21.301503
4                                          21.301503

                                           longitude  \
0  The longitude of the site where date were obse...
1                                           40.42677
2                                           40.42677
3                                           40.42677
4                                           40.42677

                                           elevation  \
0  The elevation of the site where data were obse...
1                                             1652.0
2                                             1652.0
3                                             1652.0
4                                             1652.0

                                         measured_on   salinities:userid  \
0  The date only of when the data were observed i...                 NaN
1                                         2022-01-09          53170486.0
2                                         2022-01-16          53170486.0
3                                         2022-01-30          53170486.0
4                                         2022-04-03          53170486.0

  salinities:measured at  ...  \
0                    NaN  ...
1    2022-01-09T09:00:00  ...
2    2022-01-16T06:00:00  ...
3    2022-01-30T06:00:00  ...
4    2022-04-03T12:20:00  ...

                salinities:tide location description  \
0  Description of the location for which tide inf...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

      salinities:before salinity measurement tide at  \
0  Time of high or low tide preceding the salinit...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  salinities:before salinity measurement tide type  \
0                        Type of tide: high or low
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN

       salinities:after salinity measurement tide at  \
0  Time of high or low tide following the salinit...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  salinities:after salinity measurement tide type  \
0                       Type of tide: high or low
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

                         salinities:salinity kit mfg  \
0  Name of the manufacturer of the salinity kit used
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    salinities:salinity kit model               salinities:comments  \
0  Salinity test kit model number  Comments on salinity measurement
1                             NaN                               NaN
2                             NaN                               NaN
3                             NaN                               NaN
4                             NaN                               NaN

                            salinities:tide point salinities:globe teams
0  Location of place where tide time was provided                    NaN
1                                             NaN                    NaN
2                                             NaN                    NaN
3                                             NaN                    NaN
4                                             NaN                    NaN

[5 rows x 24 columns]

C:\Users\MBHS\AppData\Local\Temp\ipykernel_15160\1420293316.py:1: DtypeWarning: Columns (0,2,4,5,6,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('.\\datasets\\hydronewdata.csv')

In [8]:
print(df.columns)

Index(['organization_id', ' org_name', ' site_id', ' site_name', ' latitude',
       ' longitude', ' elevation', ' measured_on', ' salinities:userid',
       'salinities:measured at', 'salinities:water body state',
       'salinities:salinity via hydrometer (ppt)', 'salinities:tide latitude',
       'salinities:tide longitude', 'salinities:tide location description',
       'salinities:before salinity measurement tide at',
       'salinities:before salinity measurement tide type',
       'salinities:after salinity measurement tide at',
       'salinities:after salinity measurement tide type',
       'salinities:salinity kit mfg', 'salinities:salinity kit model',
       'salinities:comments', 'salinities:tide point',
       'salinities:globe teams'],
      dtype='object')

In [9]:
df1=df.drop(['organization_id', ' org_name', ' site_id', ' site_name', ' latitude',
       ' longitude', ' elevation', ' measured_on', ' salinities:userid',
       'salinities:measured at', 'salinities:water body state', 'salinities:tide latitude',
       'salinities:tide longitude', 'salinities:tide location description',
       'salinities:before salinity measurement tide at',
       'salinities:before salinity measurement tide type',
       'salinities:after salinity measurement tide at',
       'salinities:after salinity measurement tide type',
       'salinities:salinity kit mfg', 'salinities:salinity kit model',
       'salinities:comments', 'salinities:tide point',
       'salinities:globe teams'],axis='columns')
df1.head()

            salinities:salinity via hydrometer (ppt)
0  Salinity in parts per thousand as measured usi...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [10]:
df1.to_csv('.\\datasets\\hydronewdata_2.csv')

In [11]:
df1= pd.read_csv(".\\datasets\\sampled_data_Model_2.csv")
df1.head()

  Dissolved_Oxygen  salinities
0               15         NaN
1             16.5         NaN
2              7.8         NaN
3               14         NaN
4             16.5         NaN

In [12]:
df1.shape

(62900, 2)

In [13]:
df1.isnull().sum()

Dissolved_Oxygen    31691
salinities          20304
dtype: int64

In [15]:
# Define a function to fill missing disolved oxygen with random values between 0 and 20
def fill_missing_Dissolved_Oxygen(row):
    if pd.isnull(row['Dissolved_Oxygen']):
        return round(random.uniform(0, 20), 1)
    else:
        return row['Dissolved_Oxygen']

In [16]:
# Apply the function to the disolved oxygen column
df1['Dissolved_Oxygen'] = df1.apply(fill_missing_Dissolved_Oxygen, axis=1)

In [17]:
# Define a function to fill missing sanity with random values between 0 and 60
def fill_missing_salinities(row):
    if pd.isnull(row['salinities']):
        return round(random.uniform(0, 60), 1)
    else:
        return row['salinities']

In [18]:
# Apply the function to the salinities column
df1['salinities'] = df1.apply(fill_missing_salinities, axis=1)

In [19]:
df1.head()

  Dissolved_Oxygen  salinities
0               15        13.7
1             16.5         8.0
2              7.8         7.5
3               14        38.5
4             16.5         2.9

In [20]:
df1.isnull().sum()

Dissolved_Oxygen    0
salinities          0
dtype: int64

In [21]:
df1.to_csv('.\\datasets\\hydronewdata_2.csv')